<!DOCTYPE html>
<html>
	<head>
		<title>Matter | Contact</title>
	</head>
	<body>
		<h1>Matter | Contact</h1>
		<p>
			Contact Ruby on Rails tutorial about the app at the 
			<a href="http://railstutorial.org/feedback">feedback page</a>
		</p>
	</body>
</html>
